#vendite-mensili {
  text-align: center;
  margin: auto;
  height: 400px;
  width: 800px;
  margin-bottom: 100px;
}

#venditori {
  text-align: center;
  margin: auto;
  height: 400px;
  width: 800px;
}
